<!DOCTYPE html>
<html th:replace="~{mainTemplate :: mainTemplate (~{::div}, ~{})}">

<body>
<div class = "center">
    <h2 class = "titleFlights">Something went wrong</h2>
    <hr/>
    <p>Unfortunately we weren't able to book your flight.</p>
    <p>Please check that you have enough credit.</p>
    <p>If you have enough credit, the selected quarters you tried to booked are already taken, or there aren't any quarters left.</p>

    <a class = "signInAndRegister buttonNoMarginLeft" th:href="@{'~' + ${flowExecutionUrl} + '&_eventId_home'}">Return home</a>

</div>


</body>
</html>