<!DOCTYPE html>
<html th:replace="~{mainTemplate :: mainTemplate (~{::div}, ~{})}">

<body>
<div class ="center">

    <h2 class = "titleFlights">Booking successful! </h2>
    <hr/>
    <p>Booking successfully registered. Enjoy your flight!</p>
    <a class = "signInAndRegister buttonNoMarginLeft" th:href="@{'~' + ${flowExecutionUrl} + '&_eventId_home'}">Home</a>
</div>


</body>
</html>