<!DOCTYPE html>
<html th:replace="~{mainTemplate :: mainTemplate (~{::div}, ~{})}">

<body>
<div class = "center">
    <h2 class = "titleFlights">Booking overview </h2>
    <hr/>

        <div class = "flex-container-horizontal-spacing">
            <div class="flex-container-vertical">
                <div class = "littleTitle">Personal information </div>
                <p th:text=  "'First name: '+ ${booking.bookedBy.firstName}"></p>
                <p th:text="'Last name: '+${booking.bookedBy.lastName}"></p>
                <p th:text="'Email address: '+${booking.bookedBy.email}"></p>
                <p th:text="'Amount of credits: '+${booking.bookedBy.credits}"></p>
            </div>

            <div class="flex-container-vertical">
                <div class = "littleTitle">Flight information </div>
                <p th:text="'Destination: '+${booking.spaceFlight.destination.name}"></p>
                <p th:text="'Departure time: '+${booking.spaceFlight.departureTime}"></p>
                <p th:text="'Arrival time: '+${booking.spaceFlight.arrivalTime}"></p>
                <p th:text="'Price: '+${booking.spaceFlight.price}"></p>
                <p th:text="'Available quarters: '+${booking.spaceFlight.availableQuarters}"></p>
                <p th:text="'Starship name: '+${booking.spaceFlight.starShip.name}"></p>

            </div>
            <div class = "flex-container-vertical">
                <form method="post" th:action="${flowExecutionUrl}" >
                    <div>
                        <label for = "quarters">Please select quarter:  </label>
                        <input type="number" name="quarters" id ="quarters" min="0" th:max="${booking.spaceFlight.availableQuarters}" />
                    </div>
<!--                    <button class="btn btn-primary" type="submit">Confirm quarters</button>-->
                    <input class = "signInAndRegister buttonNoMarginLeft margin-top" type="submit" id="order" name="_eventId_order" value="order">
                </form>


            </div>

        </div>
    <a class = "signInAndRegister buttonNoMarginLeft" th:href="@{'~' + ${flowExecutionUrl} + '&_eventId_cancel'}">Go back</a>



</div>


</body>
</html>