<!DOCTYPE html>
<html th:replace="~{mainTemplate :: mainTemplate (~{::div}, ~{})}">

<body>
<div class = "center" th:if="${not #lists.isEmpty(flights)}">
    <h2 class = "titleFlights">Flight List</h2>
    <table class="table table-striped" >
        <tr>
            <th>Destination</th>
            <th>Departure time</th>
            <th>Arrival time</th>
            <th>Price</th>

            <!--th>Picture</th-->
        </tr>
        <tr th:each="flight : ${flights}">
<!--            <td th:text="${flight.getDestinationName()}"></td>-->
            <td th:text="${flight.getDestination().getName()}"></td>
            <td th:text="${flight.getDepartureTime()}"></td>
            <td th:text="${flight.getArrivalTime()}"></td>
            <td th:text="${flight.getPrice()}"></td>
            <td class = "noStretch">
                <a class = "bookButton" th:href="@{book-flight(flightId=${flight.getId()})}">Book flight</a>
            </td>
            <td class = "noStretch">
                <a class="moreInfoButton" th:href="@{flights/moreInfo(flightId=${flight.getId()})}" th:ac>More info</a>
            </td>

        </tr>
    </table>
</div>


</body>
</html>