<!DOCTYPE html>
<html th:replace="~{mainTemplate :: mainTemplate (~{::body}, ~{})}">

<body class = "fullheight">

    <div class = "loginSection">

        <form class = "loginForm" th:action="@{/login}" method="post">

            <h1>Login</h1>
            <div class = "label-element">
                <label for = "email-label">Email :  </label>
                <input type="email" name="email" id ="email-label"/>
            </div>
            <div class = "label-element">
                <label for = "password-label">Password:  </label>
                <input type="password" name="password" id="password-label"/>
            </div>
            <div><input class="signInAndRegister" type="submit" value="Sign In"/></div>
            <a class="signInAndRegister" th:href="@{/register}">Register</a>
        </form>
    </div>
</body>
</html>
