<!DOCTYPE HTML>
<html th:fragment="mainTemplate (mainContent, scripts)" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name = "viewport" content = "width=device-width, initial-scale = 1">
  <title>Space One Airline - Exclusive</title>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} "/>
  <link th:rel="stylesheet" th:href="@{/css/custom.css} "/>
  <link th:rel="icon" href="https://www.creativefabrica.com/wp-content/uploads/2021/04/27/Modern-C-letter-logo-design-Graphics-11383469-1.jpg" >
</head>

<body>
<div th:insert="fragments/navBar :: navBar"></div>
<div th:replace="${mainContent}"></div>
<script th:replace="${scripts}"></script>
</body>
</html>