<!DOCTYPE html>
<html th:replace="~{mainTemplate :: mainTemplate (~{::div}, ~{})}">
<body>

<div class="container py-5">
    <div class="row">
        <div class="col-sm-6">
            <img th:src="${selectedFlight.destination.pictureUrl}" alt="Earth" class="img-fluid">
        </div>
        <div class="col-sm-6">
            <img th:src="${selectedFlight.starShip.pictureUrl}" alt="Earth" class="img-fluid">
        </div>
    </div>
    <div class="row">
        <h2 class="col-sm-6 titleMoreInfo" th:text="${selectedFlight.destination.name}"></h2>
    </div>
    <div class="row py-3">
        <div class="col-sm-6">
            <div class="row justify-content-start">
                <div class="littleTitle col-sm-4">Departure time:</div>
                <div class="col-sm-5" th:text="${selectedFlight.departureTime}"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row justify-content-start">
                <div class="littleTitle col-sm-4">Arrival time:</div>
                <div class="col-sm-5" th:text="${selectedFlight.arrivalTime}"></div>
            </div>
        </div>

    </div>

    <div class="row py-3">
        <p class="col-sm-12" th:text="${selectedFlight.destination.getDescription()}"></p>
    </div>

    <a class = "bookButton" th:href="@{/book-flight(flightId=${selectedFlight.getId()})}">Book flight</a>
</div>
</body>
</html>