<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{mainTemplate :: mainTemplate (~{::body}, ~{})}">

<body class = "fullheight">

        <div class = "loginSection">

            <form class = "loginForm" th:action="@{/register}"  th:object="${passenger}" method="post" >
                <div th:if="${#fields.hasAnyErrors()}">
                    <div class="form-group row" th:each="err : ${#fields.allErrors()}" >
                        <p class="col-sm-8 field-error" th:text="${err}"></p>
                    </div>
                </div>
                <h1>Register</h1>

                <div  class = "label-element">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" data-inputmask="'alias': 'firstName'"
                               placeholder="Jan" th:field = "*{firstName}" autocomplete="off" />
                </div>

                <div  class = "label-element">
                    <label for="lastName" >Last Name</label>
                    <input type="text" class="form-control" id="lastName"  data-inputmask="'alias': 'lastName'"
                               placeholder="Janssens" th:field = "*{lastName}"/>
                </div>

                <div  class = "label-element">
                    <label for="Credits">Credits</label>
                    <input type="number" class="form-control" id="Credits"
                               placeholder="8 600 00 000" th:field = "*{credits}" />
                </div>

                <div  class = "label-element">

                    <label for="email">Email</label>
                        <input type="text"  class="form-control" id="email" data-inputmask="'alias': 'email'"
                               placeholder="jan.janssens@gmail.com" th:field = "*{email}"/>
                </div>

                <div  class = "label-element">

                    <label for="password" >Password</label>
                    <input type="password"  class="form-control" id="password" th:field = "*{password}"/>
                </div>

                <input type="submit" class="signInAndRegister" value="Register">


            </form>
        <!--/div-->
            </div>

</body>
</html>