@import "macchiato.css";

* {
    font-family: 'Noto Sans';
    font-size: 14px;
    background: transparent;
/*    border-radius: 15px 15px 15px 15px;*/
    min-height: 26px;
}

#custom-spotify,
#cpu,
#custom-power,
#memory,
#network,
#pulseaudio,
#battery,
#clock,
#tray {
        background: alpha(@blue, 1); 
	color: @crust;
}

#battery {
	border-radius: 0px 0px 0px 0px;
}

#clock {
	border-radius: 15px 15px 15px 15px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 0 10px;
}

#cpu {
	border-radius: 15px 0px 0px 15px;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-left: 10px;

}

#memory {
	border-radius: 0px 0px 0px 0px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 0px;
	padding-left: 10px;

}

#pulseaudio {
	border-radius: 0px 0px 0px 0px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 0px;
	padding-left: 10px;

}

#network {
	border-radius: 0px 0px 0px 0px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 0px;
	padding-left: 10px;

}

#custom-power {
	border-radius: 0px 15px 15px 0px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 0px;
	padding-left: 10px;
	padding-right: 10px;
}


#tray {
	border-radius: 15px 15px 15px 15px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-right: 4px;
	margin-left: 4px;
	padding: 0 10px;
}


#workspaces {
	border-radius: 15px 15px 15px 15px;
	margin-top: 3px;
	margin-bottom: 3px;
	padding: 0 0px;
	background-color: @blue;
}


#workspaces button {
	padding: 0 10px;
	color: @crust;
}


#workspaces button.active{
	border-radius: 11px 11px 11px 11px;
	background: @crust;
	color: @blue;
}

