

.countdown {
    text-transform: uppercase;
    font-weight: bold;
}

.countdown span {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 3rem;
    margin-left: 0.8rem;
}

.countdown span:first-of-type {
    margin-left: 0;
}

.countdown-circles {
    text-transform: uppercase;
    font-weight: bold;
}

.countdown-circles span {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.countdown-circles span:first-of-type {
    margin-left: 0;
}

.bg-gradient {
    background: #2a2929;
}

.rounded {
    border-radius: 1rem !important;
}

.btn-demo {
    padding: 0.5rem 2rem !important;
    border-radius: 30rem !important;
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold !important;
}

.btn-demo:hover, .btn-demo:focus {
    color: #fff;
    background: rgba(255, 255, 255, 0.5);
}
.titleFlights {
    margin-top: 64px;
    width: 75%;
}
.table-striped {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    border-top: 0px;
}
.center {
    margin-top: 64px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.bookButton{

    padding: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    border-top: 2px solid #4CAF50 !important;


}
.moreInfoButton{

    padding: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #343A40;
    border-top: 2px solid #343A40 !important;

}
.bookButton:hover {
    background-color: #4CAF50;
    color: white;
    animation: pulsate 1s
    ease-in-out;
}
@keyframes pulsate {
    0%{
        box-shadow:
        0 0 25px #93ff5d,
        0 0 50px #4CAF50;
    }

}
.moreInfoButton:hover {
    background-color: #343A40;
    color: white;
    animation: pulsateBlack 1s
    ease-in-out;
}
@keyframes pulsateBlack {
    0%{
        box-shadow:
                0 0 25px #332f2f,
                0 0 50px #000000;
    }

}

.table{
    padding: 0.75rem 0rem 0.75rem 0.75rem;
}

.loginSection {

    width: 35%;
    margin: 100px auto auto;

}
.loginForm {

    padding: 100px;
    text-align: center;

    border-radius: 30px;
    background: rgba(255, 255, 255, 0.85) /* Green background with 30% opacity;;;;; */;
}

html {
    margin: 0px;
    height: 100%;
    width: 100%;
}
.label-element{
    margin: 30px;
}

.fullheight {


    margin: 0px;
   /* min-height: 100%;
    width: 100%;*/
    background-image: url("https://parispeaceforum.org/wp-content/uploads/2021/10/NET-ZERO-SPACE-INITIATIVE-1.png");
   /* background-repeat: repeat-x;
    background-size: cover;
    background-repeat: no-repeat;*/
    background-size: 120%;


}
label {
    color: #343A40;
    font-weight: bold;
    display: block;
}
.signInAndRegister {

    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #343A40;
    border-top: 2px solid #343A40 !important;
    border-radius: 10px;

}

.buttonNoMarginLeft {
    margin-left: 0px;
}
.signInAndRegister:hover {
    background-color: #343A40;
    color: white;
    animation: pulsateBlack 1s
    ease-in-out;
}




.table td, .table th {
    padding: 0.75rem 0rem 0.75rem 0.75rem;
    border-top: 1px solid #dee2e6;
    vertical-align: middle;
}
.titleMoreInfo{
    margin-top: 20px;
}

.littleTitle{
    font-weight: bold;
}
.noStretch {
    width: 1%;
    white-space: nowrap;
}
.firstElementRow {
    padding-left: 0rem;
}

.flex-container{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 20px;
}
.flex-container-vertical{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}
.flex-container-horizontal-spacing{
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-bottom: 10px;
}

hr {
    border: 0;
    border-top: 2px solid #000000;
    margin-top: 15px;
    margin-bottom: 30px;
}
.margin-top{
    margin-top: 20px;
}

iframe[src=""] {
    display: none;
}
img[src=""] {
    display: none;
}
